footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  
  z-index: 2;

  p {
    
    margin-left: 10rem;
  }
}



:root {
  background-color: #ffffff;
}



nav {
  z-index: 2;
  width: 10rem;
  position: fixed;
  height: 100vh;
  background-color: rgb(25, 23, 23);
}

main{
  margin-left: 10rem;
}

.loading{
  margin-left: 5rem;
}

@media screen and (max-width: 1223px) {
  main{
    margin-left: 0;
    margin-top: 50px;
  }
  .loading{
    margin-left: 0;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    
    z-index: 2;
  
    p {
      
      margin-left: 0;
    }
  }
}
